<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.b2b.credit.manageweb.mapper.NplmLoanContractMapper">

    <select id="querycount" resultType="int">
        select count(*) from
        NPLM_loan_contract nlc
        inner join
        nplm_contract_attribute nca on nlc.ID = nca.loan_contract_id
        inner join
        nplm_borrower_info nbi on nlc.borrower_id = nbi.id

    </select>

    <select id="selectNplmLoanContract" resultMap="NplmLoanContract">
        select * from
        NPLM_loan_contract nlc
        inner join
        nplm_contract_attribute nca on nlc.ID = nca.loan_contract_id
        inner join
        nplm_borrower_info nbi on nlc.borrower_id = nbi.id
        limit #{param1},#{param2};

    </select>

    <select id="getquerycount" resultType="int">
        select count(*) from
        NPLM_loan_contract nlc
        inner join
        nplm_contract_attribute nca on nlc.ID = nca.loan_contract_id
        inner join
        nplm_borrower_info nbi on nlc.borrower_id = nbi.id
        <trim prefix="where" prefixOverrides="and">
            <if test="nplmLoanContract!=null">
                <if test="nplmLoanContract.nplmBorrowerInfo!=null">
                    <if test="nplmLoanContract.nplmBorrowerInfo.clientName!=null&amp;&amp;nplmLoanContract.nplmBorrowerInfo.clientName!=&quot;&quot;">
                        and nbi.CLIENT_NAME=#{nplmLoanContract.nplmBorrowerInfo.clientName}
                    </if>
                </if>
            </if>
            <if test="nplmLoanContract!=null">
                <if test="nplmLoanContract.loanContractNum!=null &amp;&amp;nplmLoanContract.loanContractNum!=&quot;&quot; ">
                    and nca.LOAN_CONTRACT_NUM=#{nplmLoanContract.loanContractNum}

                </if>
            </if>

        </trim>
    </select>


    <select id="querycontractList" resultMap="NplmLoanContract">
        select * from
        NPLM_loan_contract nlc
        inner join
        nplm_contract_attribute nca on nlc.ID = nca.loan_contract_id
        inner join
        nplm_borrower_info nbi on nlc.borrower_id = nbi.id
        <trim prefix="where" prefixOverrides="and">
            <if test="nplmLoanContract!=null">
                <if test="nplmLoanContract.nplmBorrowerInfo!=null">
                    <if test="nplmLoanContract.nplmBorrowerInfo.clientName!=null&amp;&amp;nplmLoanContract.nplmBorrowerInfo.clientName!=&quot;&quot;">
                        and nbi.CLIENT_NAME=#{nplmLoanContract.nplmBorrowerInfo.clientName}
                    </if>
                </if>
            </if>
            <if test="nplmLoanContract!=null">
                <if test="nplmLoanContract.loanContractNum!=null &amp;&amp;nplmLoanContract.loanContractNum!=&quot;&quot; ">
                    and nca.LOAN_CONTRACT_NUM=#{nplmLoanContract.loanContractNum}

                </if>
            </if>

        </trim>

        limit #{pageIndex},#{pageSize};
    </select>

    <resultMap id="NplmLoanContract" type="com.b2b.credit.bean.NplmLoanContract" autoMapping="true">
        <id column="ID" property="id" ></id>
        <association property="nplmContractAttribute" autoMapping="true" javaType="com.b2b.credit.bean.NplmContractAttribute">
            <id column="id" property="id"></id>
        </association>
        <association property="nplmBorrowerInfo" autoMapping="true" javaType="com.b2b.credit.bean.NplmBorrowerInfo">
            <id column="id" property="id"></id>
        </association>
    </resultMap>

</mapper>